/* Reduce top margin of first page title */
.main-content h1:first-of-type {
  margin-top: 0.75rem !important;
  padding-top: 0.25rem;
}

/* Optional space above sidebar site title */
.sidebar .site-title {
  margin-top: 1rem;
  margin-bottom: 2rem; /* Adds spacing below the title for better separation */
}

/* Vertically center the sidebar contents */
@media screen and (min-width: 60em) {
  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}
